<section>
  <h1>Hot</h1>
  <div class="hatena-widget">
    <script language="javascript" type="text/javascript" src="http://b.hatena.ne.jp/js/widget.js" charset="utf-8"></script>
    <script language="javascript" type="text/javascript">
    Hatena.BookmarkWidget.url   = "http://www.tokoro.me/";
    Hatena.BookmarkWidget.sort  = "count";
    Hatena.BookmarkWidget.width = 0;
    Hatena.BookmarkWidget.num   = 5;
    Hatena.BookmarkWidget.theme = "notheme";
    Hatena.BookmarkWidget.load();
    </script>
  </div>
</section>
