<div class="feed-item">
  {{ $page := . }}
  <a href="{{ $page.RelPermalink }}">
    <div class="feed-item-image-wrapper">
    {{- with $page.Params.images -}}
      {{- $images := . -}}
      {{- with index $images 0 -}}
        {{- $image := . -}}
        {{- if $image -}}
          <img data-src="{{ $image }}" class="feed-item-image" alt="{{ $page.Title }}" width="300">
        {{- end -}}
      {{- end -}}
    {{- end -}}
    </div>

    <span class="feed-item-title">{{ $page.Title }}</span>
    <span class="feed-item-date">{{ $page.Date.Format "2006年1月2日" }}</span>
    <span class="feed-item-date">{{- with $page.Params.authors -}}{{- $authors := . -}}{{- with index $authors 0 -}}{{- $author := . -}}{{ $author }}{{- end -}}{{- end -}}</span>
  </a>
</div>
