{{ define "main" }}
{{ $current := . }}

{{ .Render "navbar" }}

<article class="content-page entry-body">
  <h1 class="page-title">{{ .Title }}</h1>

  <div class="entry-data">
    <span class="entry-data-date">{{ .Date.Format "2006年1月2日" }}</span>
  </div>

  {{- with .Params.tags -}}
      <div class="tags my-3">
      {{- range . -}}
          <a class="badge badge-pill badge-light border mr-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
              {{ . }}
          </a>
          /
      {{- end -}}
      </div>
  {{- end -}}

  <div class="content">
      {{ .Content }}
  </div>
</article>

<!-- Articles -->
<div class="wrapper">
  {{ partial "related.html" . }}
  <div class="entry-feed-title">Latest Entries</div>
  <div class="entry-feed">
    {{ range first 6 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      {{ .Render "card" }}
    {{ end }}
  </div>
</div>

{{ end }}
