{{ define "main" }}
{{ $current := . }}

{{ .Render "navbar" }}

<article class="content-page entry-body">
  <h1 class="page-title">{{ .Title }}</h1>
  <div class="entry-data">
    <span class="entry-data-date">{{ .Date.Format "2006年1月2日" }}</span>
    {{ partial "authors.html" . }}
  </div>
  <div class="content">
      {{ .Content }}
  </div>
</article>

<!-- Articles -->
<div class="wrapper">
  {{ partial "related.html" . }}
  <div class="entry-feed-title">Latest Entries</div>
  <div class="entry-feed">
    {{ range first 6 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      {{ .Render "card" }}
    {{ end }}
  </div>
</div>

{{ end }}
