<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<!-- Hatena::Star -->
<script type="text/javascript" src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
<script type="text/javascript">
  Hatena.Star.Token = 'e1db0a8e529b51a6d686706984a62c1ee102a22d';
  Hatena.Star.SiteConfig = {
    entryNodes: {
      'article header': {
        uri: 'h3 a',
        title: 'h1',
        container: 'h3'
      }
    }
  };
</script>
