<footer class="footer">
  <div class="wrapper">
    <div class="footer-contents-team">
      <h2 class="footer-contents-title">OWNER</h2>
      <div class="footer-contents-team-item">
        <img class="footer-contents-team-item-avatar" src="/images/tokorom.jpg" width="50" />
        <div class="footer-contents-team-item-position">Tokoro Yuta</div>
        <div class="footer-contents-team-item-name">所 友太</div>
        <div class="footer-contents-team-item-bio">
          合同会社Spinners所属のiOSプログラマー。<br />
          著書に『iPhoneプログラミングUIKit詳解リファレンス』『よくわかるAuto Layout（監修）』『iOS 11/12 Programming』など。
        </div>
        <div class="footer-contents-team-item-footer">
          <a class="footer-contents-team-item-footer-button" href="https://twitter.com/tokorom"><img src="/images/twitter.svg" alt="twiiter" /></a>
          <a class="footer-contents-team-item-footer-button" href="https://github.com/tokorom"><img src="/images/github.svg" alt="github" /></a>
          <a class="footer-contents-team-item-footer-link" href="https://www.spinners.work">www.spinners.work</a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    {{ if .Site.Copyright }}
        {{ .Site.Copyright | safeHTML }}
    {{ else }}
        Copyright &copy; {{ .Site.Title }} {{ now.Year }}
    {{ end }}
  </div>
</footer>
