// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.hatena-bookmark-button-frame {
  margin-right: 30px;
}

.hatena-bookmark-users {
  border: none;
}

.blog-index article .entry-title {
  font-size: 1.5em;
}

header {
  hgroup {
    h1 a {
      font-size: 0.8em;
    }
    h2 {
      font-size: 0.8em;
    }
  }
}

nav {
  li {
    a:link {
      color: #dddddd;
    }
    a:visited {
      color: #dddddd;
    }
  }
}

article {
  .entry-title {
    font-size: 1.2em;
  }
  .entry-title a {
    font-size: 0.9em;
  }
  h2, section h1 {
    font-size: 0.9em;
  }
  h3, section h2, section h1 {
    font-size: 0.8em;
  }
  .entry-content {
    p {
      font-size: 0.8em;
    }
    li {
      font-size: 0.8em;
    }
  }
}

aside {
  section {
    p {
      margin-bottom: 2px;
    }
  }
}

